* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

header {
    height: 15%;
    background-color: #1d1d1d;
}

nav {
    float: right;
    display: flex;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    font-weight: 500;
    margin: 50px 30px;
    transition: .3s ease-in;
}

a:hover, .active {
    color: #02f7f7;
    pointer-events: inherit;
}

section {
    height: 75%;
    background: linear-gradient( to top,#00a5a5, #0c2020); 
}

footer {
    height: 10%;
    background-color: #183D3D;
}

.soc-med {
    padding-top: 20px;
    text-align: center;
}

.soc-med a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    font-weight: 500;
    margin: 0 30px;
    transition: .3s ease-in;
}

.soc-med a:hover {
    color: red;
}

p {
    margin-top: 10px;
    color: aliceblue;
    text-align: center;
}

h1 {
    font-size: 70px;
    padding-top: 15%;
    text-align: center;
}

